<ul class='gallery js-results-container'>
  {{#each this}}
    <li>
      <div class='photo-card'>
        <img src='{{webformatURL}}' alt='{{tags}}' />

        <div class='stats'>
          <p class='stats-item'>likes:
            {{likes}}
            <i class='material-icons'>thumb_up</i>

          </p>
          <p class='stats-item'>views:
            {{views}}
            <i class='material-icons'>visibility</i>
          </p>
          <p class='stats-item'>comments:
            {{comments}}
            <i class='material-icons'>comment</i>
          </p>
          <p class='stats-item'>downloads:
            {{downloads}}
            <i class='material-icons'>cloud_download</i>
          </p>
        </div>
      </div>
    </li>
  {{/each}}
</ul>