<ul class='gallery'>
  {{#each this}}
    <li>
      <img src='{{webformatURL}}' alt='' width='480' />
      <p>likes: {{likes}}</p>
      <p>views: {{views}}</p>
      <p>comments: {{comments}}</p>
      <p>downloads: {{downloads}}</p>
    </li>
  {{/each}}
</ul>